<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destination Details</title>
</head>
<body>
  <div id="<%= dom_id destination %>">
    <p>
      <strong>Location:</strong>
      <%= destination.location %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= destination.image %>
    </p>

    <p>
      <strong>From:</strong>
      <%= destination.fromdate %>
    </p>

    <p>
      <strong>To:</strong>
      <%= destination.todate %>
    </p>
  </div>
</body>
</html>
