<%= form_with(model: destination) do |form| %>
  <% if destination.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
        <% destination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
    <%= form.label :fromdate, style: "display: block" %>
    <%= form.text_field :fromdate %>
    <%= form.label :todate, style: "display: block" %>
    <%= form.text_field :todate %>
    <%= form.submit %>
  </div>
<% end %>
