<!DOCTYPE html>
<html lang="en">
<head>
  <title>Destinations List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <h2>Destinations</h2>
  <%= "Hey User" %>
</head>
<body>
<%= link_to "New destination", new_destination_path, class: "btn btn-primary" %>
  <div class="container-fluid">
    <div class="row">
      <% @destinations.each do |destination| %>
        <div class="col-4">
          <div class="thumbnail">
          <%= link_to destination.location, destination %>
          <% if destination.image.attached? %>
            <%= image_tag destination.image %>
          <% else %>
            <%= image_tag "default_picture.jpeg" %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
