<p style="color: green"><%= notice %></p>

<h1><%= @destination.location %></h1>
<p><%= @destination.image %></p>
<p><%= @destination.fromdate %></p>
<p><%= @destination.todate %></p>
<br/>
<div>
  <%= link_to "Edit this destination", edit_destination_path(@destination) %> |
  <%= link_to "Back to destinations", destinations_path %>
</div>
<br/>
<%= button_to "Destroy this destination", @destination, method: :delete %>
